@model Contest
@{
    Layout = null;
   
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-2 logo">
                    <a href="/Home/Index"><img src="~/Images/logo.png"></a>
                </div>
                <div class="col-md-10">
                    <div>
                        <nav class="pull-right" style="margin-top:15px;">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="/Contest/MyContests/">My Contests</a></li>

                                <li class="active"><a href="/Contest/Browse/">Browse Contests</a></li>

                                @if (Session["freelancer_id"] == null || Session["client_id"] == null)
                                {
                                    <li><a href="/User/Login/"><span class="fa fa-sign-out fa-lg"></span>Login</a></li>
                                }
                                @if (Session["freelancer_id"] != null || Session["client_id"] != null)
                                {
                                    <li><a href="/User/Logout/"><span class="fa fa-sign-out fa-lg"></span>Logout</a></li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @using (@Html.BeginForm("Upload", "Entry", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
    {
    <section id="form">
        <div class="container">
            @Html.AntiForgeryToken()
            @{ 
                var e = (Entry)ViewData["Entry"];
            }
            <div class="row">
                <div class="col-md-6 contest-form">
                    
                        <h2 style="margin-bottom:30px;">Upload your Entry</h2>
                        <div class="form-element">
                            <label class="control-label col-md-12">
                                Entry Name:
                            </label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(entry => e.Entry_header, htmlAttributes: new { @class = "form-control" , @required = "" })
                                @Html.HiddenFor(model => model.Contest_id)
                            </div>
                        </div>
                        <div class="form-element">
                            <label class="control-label col-md-12">
                                Enter description about your entry:
                            </label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(entry => e.Entry_desc, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-element">
                            <label class="control-label col-md-12">
                                Upload file:
                            </label>
                            <div class="col-md-12">
                                <input type="file" class="form-control" id="imgFile" name="imgFile">
                            </div>
                        </div>
                        <div class="form-element">
                            <div class="col-md-12">
                                <input type="submit"  class="btn btn-primary" value="Upload Entry" style="margin-top:20px;"/>
                            </div>
                        </div>
                    
                </div>
                <div class="col-md-6 form-img text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="~/Images/img2.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   }
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 footer-logo">
                    <img src="~/Images/logo-footer.png">
                </div>
                <div class="col-md-3">
                    <h4>Useful Links</h4>
                    <ul class="useful-links">
                        <li>Contest</li>
                        <li>Projects</li>
                        <li>Hire</li>
                        <li>Log in</li>
                        <li>Sign Up</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4>Links</h4>
                    <ul class="links">
                        <li>Home</li>
                        <li>About</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
                <div class="col-md-3 subscribe">
                    <h4 style="margin-left:0;">Subscribe</h4>
                    <p>Lorem ipsum sit amet dolor lorem ipsum set amet dolor amet sit amet lorem ipsum.</p>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="col-md-12">
                <p>&copy;copyrights are reserved 2018-2019</p>
            </div>
        </div>
    </div>
</body>

</html>